# DATAFRAMES

- É simplesmente um conjunto de séries, cujo possui estrutura de dados de 2 dimensões(colunas e linhas) em que resulta em tabela semelhando ao array em bidimensional,porém com menos código.

In [38]:
import pandas as pd 
import numpy as n

AttributeError: module 'numpy.random' has no attribute 'send'

In [23]:
#Criação de DataFrames a partir de um array 
arr = np.random.randint(10,55,size=(4,4))

In [24]:
arr

array([[49, 28, 33, 31],
       [28, 32, 33, 45],
       [14, 26, 36, 21],
       [20, 10, 37, 49]])

In [25]:
df1 = pd.DataFrame(arr,index=['a','b','c','d'],columns=['e','f','g','h'])

In [26]:
df1

    e   f   g   h
a  49  28  33  31
b  28  32  33  45
c  14  26  36  21
d  20  10  37  49

In [27]:
#Criação de Dataframes a partir de listas
lista = [[10,20,30,40,50],[60,70,80,90,100],[110,120,130,140,150]]

In [28]:
df2 = pd.DataFrame(data=lista,index=['A','B','C'],columns=['V','W','X','Y','Z'])

In [29]:
df2

     V    W    X    Y    Z
A   10   20   30   40   50
B   60   70   80   90  100
C  110  120  130  140  150

In [30]:
#Criação Dataframes através de um dicionário
dados = { 
    'produtos':['Video-Game','PC','Mouse','Monitor'],
    'preco':[2600,2450.90,99.90,50.00]
}

df3 = pd.DataFrame(data=dados)

In [31]:
#Criando uma nova coluna no Dataframe
df3['custo'] = [1900,2000,56,40]
df3['lucro'] = df3['preco'] - df3['custo']

In [32]:
df3

     produtos   preco  custo  lucro
0  Video-Game  2600.0   1900  700.0
1          PC  2450.9   2000  450.9
2       Mouse    99.9     56   43.9
3     Monitor    50.0     40   10.0

### Indexação e Seleção de Dataframes

In [44]:
#Meses 31 dias
indices = ['Janeiro','Março','Maio','Julho','Agosto','Outubro','Dezembro']

In [45]:
colunas = np.arange(1,32)

In [46]:
dados  = np.random.randint(492,2050,size=(7,31))

In [43]:
dados

array([[1864, 1516,  972, 1860, 1691,  979, 1106, 1332, 1175, 1221, 1594,
         905,  897, 1431,  915,  639, 1870,  860, 1031, 1425, 1866, 1681,
        1955, 1609,  835, 1824, 1261, 1869, 1531, 1871, 1808],
       [2034, 1759, 1385, 1357,  580, 1159,  978, 1607, 1376, 1823,  539,
        1442, 1243,  836,  614,  592,  564, 1532, 1869,  937,  822,  792,
        1108,  939, 1979, 1816, 1458, 1901, 1634, 1721, 1885],
       [1538, 1203,  697,  509,  556, 1725,  795,  957, 1577,  568,  945,
         865, 1003,  694, 1950, 1889, 1037, 1131, 1733,  770, 1086, 1086,
        1504, 1141,  807, 1486, 1707, 1939, 1804, 1777, 1050],
       [ 924, 1762, 1535, 1291,  529,  935,  890,  572,  914,  618,  778,
        1212, 1766, 1546, 1507, 1703,  742, 1866, 1563,  809,  993, 1424,
        1538,  737,  586, 1633, 1563,  573, 1000, 1085, 1390],
       [1057, 1203,  716, 1653, 1685, 1164, 1320, 1039,  720, 1601,  537,
        1848, 1546, 1525,  686, 1431, 1471,  691,  928, 1440,  980,  741,
        1210,  727,  975,  711, 1870,  849, 1086, 1728, 1634],
       [1742, 1847,  728, 1323, 1844, 1630, 1259, 1463,  698, 1869,  833,
        1656, 1896,  572, 1676,  643, 1000,  810, 1918, 1421,  538, 1866,
        1663, 1189, 1055, 2034,  903,  887,  508, 1428, 1022],
       [1063,  715,  587, 1271, 1858,  757, 1684,  866,  911, 1201, 1812,
        1442, 1915,  652, 1507, 1035, 1315, 1687, 1509, 1203,  549, 1716,
         528,  828, 1236, 1163, 1782, 1479,  905,  680, 1285]])

In [47]:
df = pd.DataFrame(data=dados,index=indices,columns=colunas)

In [48]:
df

,1,2,3,4,5,6,7,8,9,10,...,22,23,24,25,26,27,28,29,30,31
Janeiro,1440,1644,1034,1642,1016,1127,989,1859,1309,1546,...,1590,1605,1673,700,573,583,1112,1777,706,1571
Março,1821,1948,1236,1590,786,671,1308,621,1522,1918,...,623,1316,1155,1670,694,769,932,891,607,1959
Maio,963,1378,787,922,2009,1573,1828,1950,1745,671,...,612,1952,1296,1915,633,1479,1124,1239,649,841
Julho,2027,1478,1839,1782,1072,1226,2031,1849,1765,1357,...,1217,1794,1922,1652,528,515,847,1597,524,1297
Agosto,1908,1390,666,1863,557,860,771,1924,1324,1726,...,1773,1174,1049,1347,1766,1377,1359,1768,925,942
Outubro,1692,560,1772,613,1449,1604,1636,1778,1051,873,...,1567,511,1355,768,1673,1732,1450,2020,830,673
Dezembro,1877,1783,2035,887,741,1108,1381,1125,985,1145,...,1353,2018,1201,1344,1103,900,1684,1545,637,1274

In [ ]:
### Realizar consulta seleção

''''
-> df [ coluna ]  : selecionar a coluna
-> df [[colunas]] : selecionar as colunas 
-> df [coluna][linha] : selecionando coluna e linha 
-> df [:2  ou :2] : selecionas as linhas
-> df.loc[indice linha, indice coluna] -> df.loc['Julho',30]
-> df.iloc[indice num linha, ind num coluna]
-> df[[indices][colunas]]
'''

In [56]:
df.iloc[3,30]

1297

In [57]:
df.loc['Julho',30]

524